* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: teal;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.enterData {
    text-align: center;
    margin-top: 20px;
}